/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	margin: 0;
	min-height: 100%;
	min-height: 100vh;
	min-height: 100svh;
}

hidden {
	display: none;
}

header nav {
	display: flex;
	gap: 0px;
	background-color: black;
}

header nav a {
	padding: 8px 4px;
	text-decoration: none;
	color: white;
}

header nav a:hover {
	text-decoration: underline;
}

header nav a:first-child {
	padding-left: 8px;
}

header nav a:last-child {
	padding-right: 8px;
}

body > main {
	padding: 0 8px;
	flex-grow: 1;
	position: relative;
}

body > main > h1:first-of-type {
	margin-top: 0;
}

fieldset {
	display: flex;
	flex-direction: column;
	margin-block: 1rem;
	border: 1px solid;
	width: fit-content;
}

table {
	border-collapse: collapse;
}

table tbody td,
table tbody th {
	padding: 2px 4px;
}

table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) th {
	background-color: #0001;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	background-color: black;
	color: white;
}

footer * {
	color: white;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.warning {
	padding: 0.5rem;
	background-color: #f80;
	color: #000;
	display: block;
	margin-bottom: 1rem;
}

.spinner {
	display: inline-block;
	animation: spin 0.7s linear infinite;
	width: 12px;
	height: 12px;
	border: 2px solid black;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50px;
}

.deleted {
	text-decoration: line-through;
}

[x-cloak] {
	display: none !important;
}

@keyframes spin {
	0% {
		rotate: 0;
	}
	100% {
		rotate: 1turn;
	}
}
