/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	margin-top: 8px;
	margin-bottom: 8px;
	min-height: calc(100% - 16px);
	min-height: calc(100vh - 16px);
	min-height: calc(100svh - 16px);
}

body > main {
	flex-grow: 1;
	position: relative;
}

body > main > h1:first-of-type {
	margin-top: 0;
}

fieldset {
	display: flex;
	flex-direction: column;
	margin-block: 1rem;
	border: 1px solid;
	width: fit-content;
}

.warning {
	padding: 1rem;
	background-color: #f80;
	color: #000;
	display: block;
	margin-bottom: 1rem;
}

.spinner {
	display: inline-block;
	animation: spin 0.7s linear infinite;
	width: 12px;
	height: 12px;
	border: 2px solid black;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50px;
}

.deleted {
	text-decoration: line-through;
}

[x-cloak] {
	display: none !important;
}

@keyframes spin {
	0% {
		rotate: 0;
	}
	100% {
		rotate: 1turn;
	}
}
